.panel__container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #424874;
  color: white;
  border-radius: 10px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.panel__content {
  h1 {
    margin-bottom: 20px;
    font-size: 28px;
  }
  p {
    text-indent: 10px;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.2;
    margin: 0;
  }
  margin-bottom: 40px;
}

.panel__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
