@import url('https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap');

.home__content {
  height: 100vh;
  background: #ffeeee; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ddefbb,
    #ffeeee
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ddefbb,
    #ffeeee
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  // h1 {
  //   font-weight: 400;
  //   font-size: 30px;
  //   margin-left: 40px;
  //   margin-top: 80px;
  // }
}

.home__image {
  position: absolute;
  background-color: rgb(32, 59, 18);
  top: 0;
  right: 10vw;
  width: 40vw;
  height: 100%;
  background-image: url('../../assets/93XsZK-BFOg.jpg');
  background-size: cover;
  background-blend-mode: exclusion;
  z-index: 1;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  overflow: hidden;
  .home__image-layout {
    @media screen and (max-width: 900px) {
      transform-origin: 20% 20%;
    }
    @media screen and (min-width: 1280px) {
      transform-origin: 20% 60%;
    }
    padding: 100px 20px;
    transform: rotate(45deg);
    transform-origin: 20% 40%;
    mix-blend-mode: overlay;
    @for $i from 1 through 3 {
      .home__image-text:nth-child(#{$i}) {
        margin-left: (150 * $i) - 100 + px;
      }
    }
    .home__image-text {
      color: white;
      font-weight: 800;
      font-size: 100px;
      margin-top: 0;
      margin-bottom: 0;
      opacity: 0.8;
      // @media screen and (min-width: 1280px) {
      //   font-size: 120px;
      // }
    }
  }
}

//check random animation

.home__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../assets//JBKdviweXI.jpg');
  background-size: cover;
  background-position: right;
  opacity: 0.2;
}

.home__button {
  position: absolute;
  bottom: 160px;
  left: 80px;
  z-index: 1;
  @media screen and (max-width: 768px) {
    left: 40px;
  }
}

.home__panel {
  position: absolute;
  bottom: 150px;
  left: 80px;
  z-index: 1;
  max-width: 60%;
  font-family: 'Raleway', sans-serif;
  @media screen and (max-width: 768px) {
    left: 40px;
    bottom: 40px;
    max-width: 80%;
  }
}

// animation

.panel-scale-enter,
.panel-scale-exit-done {
  transform-origin: bottom left;
  transform: scale(0);
}

.panel-scale-enter.panel-scale-enter-active {
  transform-origin: bottom left;
  transform: scale(1);
  transition: all 700ms ease-out;
}

.panel-scale-exit,
.panel-scale-enter-done {
  transform-origin: bottom left;
  transform: scale(1);
}

.panel-scale-exit.panel-scale-exit-active {
  transform-origin: bottom left;
  transform: scale(0);
  transition: all 700ms ease-out;
}
