h1 {
  margin: 0;
}

.home__content {
  height: 100vh;
  background: #ffeeee; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ddefbb,
    #ffeeee
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ddefbb,
    #ffeeee
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  h1 {
    font-weight: 400;
    font-size: 30px;
    margin-left: 40px;
    margin-top: 80px;
  }
}

.home__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../assets//JBKdviweXI.jpg');
  background-size: cover;
  background-position: right;
  opacity: 0.2;
}

.home__button {
  position: absolute;
  bottom: 160px;
  left: 80px;
  z-index: 1;
}

.home__panel {
  position: absolute;
  bottom: 150px;
  left: 80px;
  z-index: 1;
}

// animation

.panel-scale-enter,
.panel-scale-exit-done {
  transform-origin: bottom left;
  transform: scale(0);
}

.panel-scale-enter.panel-scale-enter-active {
  transform-origin: bottom left;
  transform: scale(1);
  transition: all 700ms ease-out;
}

.panel-scale-exit,
.panel-scale-enter-done {
  transform-origin: bottom left;
  transform: scale(1);
}

.panel-scale-exit.panel-scale-exit-active {
  transform-origin: bottom left;
  transform: scale(0);
  transition: all 700ms ease-out;
}
