@import url('https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap');

.board__container {
  margin: 20px;
  width: 65%;

  max-width: 1024px;
  @media screen and (max-width: 768px) {
    width: 90%;
    margin: 20px 0;
  }
}
