@import url('https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap');

.board__container {
  margin: 20px;
  margin-bottom: 40px;
  padding: 20px;
  h1,
  h2,
  p {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 100;
  }
  h1 {
    font-weight: 300;
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}
