@import url('https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap');

.board__container {
  margin: 20px;
  width: 70%;

  max-width: 1024px;
  @media screen and (max-width: 768px) {
    width: 90%;
    margin: 20px 0;
  }
  h1,
  p {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-weight: 100;
  }
  h1 {
    font-weight: 400;
    font-size: 24px;
    color: #23a1c4;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #e6fcff;
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
}
