.skills__container {
  height: 100%;
  min-height: 100vh;
  padding-top: 60px;
  background-color: #ecfafa;
  background-image: url('../../assets/DbwYNr8RPbg.jpg');
  background-position: -10% 0;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
  h1 {
    margin-left: 40px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
  }
  @media screen and (max-width: 768px) {
    background-size: cover;
  }
}
.skills__title {
  transform: rotate(90deg);
  transform-origin: top right;
  position: absolute;
  display: block;
  top: 350px;
  right: 60px;
  background-color: #23a1c4;
  color: white;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  h1 {
    margin: 20px 60px;
  }
  @media screen and (max-width: 768px) {
    transform: none;
    position: static;
  }
}

.skills__content {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  @media screen and (max-width: 768px) {
    margin: 0;
    align-items: center;
  }
}

.skills__item {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  h1,
  p {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-weight: 100;
  }
  h1 {
    font-weight: 400;
    font-size: 24px;
    color: #23a1c4;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #e6fcff;
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
}

.item-appear,
.item-enter,
.item-exit-done {
  opacity: 0;
  transform: translateX(-100%);
}
.item-enter.item-enter-active,
.item-appear.item-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 1000ms ease-out;
}
.item-exit,
.item-enter-done,
.item-appear-done {
  opacity: 1;
  transform: translateX(0);
}
.item-exit.item-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1000ms ease-out;
}
