.skills__container {
  height: 100%;
  padding-top: 80px;
  background-color: #ecfafa;
  background-image: url('../../assets/DbwYNr8RPbg.jpg');
  background-position: -10% 0;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  h1 {
    margin-left: 40px;
  }
}

.skills__content {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
