h1 {
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header__button {
  border-radius: 5px;
  border: none;
  width: 60px;
  height: 30px;
  background-color: #ad62aa;
  color: white;
  font-size: 1rem;
  outline: none;
  &:active {
    transform: scale(0.98);
  }
}

.header__container {
  background-color: white;
  height: 60px;
  position: relative;
  margin: auto;
}

.header__contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .header__title {
    padding-left: 40px;
    h1 {
      font-weight: 700;
      font-size: 32px;
      color: #ad62aa;
    }
  }
  .header__icons {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    color: #ad62aa;
    a {
      color: inherit;
    }
    svg {
      margin: 10px;
    }
  }
}

.open__button {
  background-color: white;
  position: absolute;
  top: 60px;
  right: 40px;
  width: 70px;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__shadow {
  box-shadow: 0 13px 17px 0px rgba(50, 50, 93, 0.25),
    0 8px 6px 0px rgba(0, 0, 0, 0.3);
}

.slide-enter,
.slide-exit-done {
  transform: translateY(-60px);
}

.slide-enter.slide-enter-active {
  transform: translateY(0);
  transition: transform 800ms;
}

.slide-exit,
.slide-enter-done {
  transform: translateY(0);
}

.slide-exit.slide-exit-active {
  transform: translateY(-60px);
  transition: transform 800ms;
}
